@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>De beste kamers achter het Ijzeren Gordijn!</p>
<p>Sinds 30 december 1922 hotels wereldwijd.</p>

<img src="https://www.calvertjournal.com/images/uploads/thumbnails/2016_December/cheeki_breeki_by_rillakim-d9tv83m.jpg">
